.App {
  text-align: center;
}

html,
body {
  background:#000 url('img/bg.jpg') no-repeat center center/cover;
  height: 100vh;
  color:#fff;
  font-family: Arial, Helvetica, sans-serif;
}

a{
  color:white;
  text-decoration: none;
}

